---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro"
import { Hero, Feature, About, PoolTag, Testimonials } from "../components"

const title = "Pisciniste expert des piscines coque polyester en Gironde"
---

<MainLayout title={title}>
	<main>
		<Hero />
		<!-- Pool Tag start -->
		<PoolTag />
		<!-- Pool Tag End -->
		<!-- ===== Small Features Start ===== -->
		<Feature />
		<!-- ===== Small Features End ===== -->
		<About />
		<!-- Testimonial start-->
		<Testimonials />
		<!-- Testimonial End -->
	</main>
</MainLayout>
