---
import MainLayout from "../layouts/MainLayout.astro"
import { Link } from "../components/utilities"
import { HeaderPage } from "../components"
import { Icon } from "astro-icon"

const titleHead = "Installation de piscines par nos artisans en Gironde (33)"
const titleDescription =
	"Faites appel à l'équipe de Minéral Piscine pour l’installation de votre piscine dans votre jardin jusqu’à sa mise en service. Garantie 10 ans."
const title =
	"Installation de votre piscines en Gironde : en kit ou prêtes au bain"
const titleText =
	"De Libourne à Langon, en passant par Gradignan, Villenave d'Ornon et les alentours en Gironde, choisissez la piscine qui vous ressemble !"
---

<MainLayout title={titleHead} description={titleDescription}>
	<main class="relative overflow-hidden pt-15 lg:pt-20 xl:pt-25">
		<HeaderPage title={title} titleText={titleText} />
		<section class="pb-16 pt-24 lg:p-16">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-10">
				<div
					class="grid grid-cols-1 items-center gap-x-16 gap-y-8 lg:grid-cols-2 xl:gap-x-24">
					<div class="relative md:mb-12">
						<div
							class="aspect-h-4 aspect-w-3 md:aspect-h-9 md:aspect-w-16 lg:aspect-h-1 lg:aspect-w-1">
							<img
								class="h-[80%] w-full rounded-lg object-cover object-bottom md:h-full"
								src="https://res.cloudinary.com/dp6synsa6/image/upload/v1685545242/testimonials/piscine-aygumorte-les-graves_gqouua.jpg"
								alt=""
							/>
						</div>

						<div
							class="absolute bottom-14 left-1/2 w-full max-w-xs -translate-x-1/2 px-4 sm:max-w-sm sm:px-0 md:-bottom-12">
							<div class="overflow-hidden rounded bg-white">
								<div class="px-10 py-6">
									<div class="flex items-center">
										<p
											class="text-center font-roboto text-sm font-medium text-primary sm:text-lg">
											Des piscines conçues pour durer et vous offrir des moments
											inoubliables.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="place-self-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							3 formules d'installation pour votre piscine : à vous de choisir !
						</h2>
						<p class="font-semibold text-primary">
							Une installation de piscine dans les conditions que vous
							définissez
						</p>
						<p class="mt-6 leading-relaxed">
							Vous êtes habile de vos mains et aimez bien l'idée d'installer
							vous-même votre piscine à coque. <strong>La piscine en kit</strong
							> (avec assistance) est faite pour les bricoleurs qui, grâce aux conseils
							de nos piscinistes, sauront effectuer les travaux d’installation en
							suivant le cahier des charges détaillé.
						</p>
						<p class="leading-relaxed">
							Bien entendu, nous restons à votre disposition tout au long du
							chantier pour que votre installation se déroule au mieux.
						</p>
						<p class="mt-1 leading-relaxed">
							<strong>La formule "semi-kit"</strong> vous permet de prendre en charge
							selon vos préférences la préparation du terrassement, le remblaiement
							ou encore la préparation de la filtration. Vous réduisez ainsi les
							coûts de votre projet de piscine.
						</p>
						<p class="mt-1 leading-relaxed">
							Enfin, <strong
								>la formule tout inclus (piscine "prête à plonger")</strong
							> avec une installation complète par nos piscinistes professionnels
							expérimentés comprend le terrassement, la pose et l'installation de
							la filtration.
						</p>
						<Link
							href="/contact"
							text="Nous vous conseillons et vous fournissons les matériaux"
							classes="mt-2 group text-lg"
							icon={{
								name: "ph:caret-right-light",
								side: "right",
								classeSvg: "transition-all group-hover:translate-x-0.5",
							}}
						/>
					</div>
				</div>
			</div>
		</section>
		<!-- second section -->
		<section class="mb-12 py-10 sm:py-16 lg:py-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid gap-y-10 lg:grid-cols-2 lg:gap-10">
					<div>
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Après le chantier d'installation de piscine, nos recommandations
						</h2>
						<p class="font-semibold text-primary">
							Une piscine belle et performante longtemps grâce à nos conseils
						</p>
						<p class="mt-4 leading-relaxed">
							Lors de la livraison puis de la pose de votre piscine à coque en
							polyester, différents éléments annexes au bassin vous sont
							proposés.
						</p>
						<p class="leading-relaxed">
							C'est le cas de tout le système de filtration et des raccordements
							hydrauliques et électriques. Ils viendront s'intégrer au local
							technique que vous aurez choisi (espace indépendant ou à installer
							dans un garage, un abri...).
						</p>
						<p class="leading-relaxed">
							En plus des équipements liés à l'entretien de la
							piscine (filtration), certains équipements sont intégrés à la
							coque. D'autres sont en option comme les accessoires liés à la
							sécurité ou au nettoyage (volet roulant immergé, etc.).
						</p>
						<p class="leading-relaxed">
							Vous ne savez pas quelles finitions et solutions de dallage de
							piscine choisir ?
						</p>
						<p>
							<Link
								href="/contact"
								text="Demandez conseil à nos piscinistes."
								classes="mt-2 group text-lg"
								icon={{
									name: "ph:caret-right-light",
									side: "right",
									classeSvg: "transition-all group-hover:translate-x-0.5",
								}}
							/>
						</p>
					</div>

					<div class="mb-8 pl-12 sm:pl-0">
						<div class="relative mb-12 max-w-lg">
							<div class="aspect-h-9 aspect-w-16">
								<img
									class="rounded-lg object-cover object-center"
									src="https://res.cloudinary.com/dp6synsa6/image/upload/v1689183240/testimonials/chantier-piscine-mineral_yjfzoi.jpg"
									alt=""
								/>
							</div>

							<img
								class="absolute -bottom-[150px] origin-bottom-right scale-75 rounded-lg object-cover object-right md:-right-[150px] lg:-bottom-[200px] lg:-right-14"
								src="https://res.cloudinary.com/dp6synsa6/image/upload/v1689183253/testimonials/chantier-mineral-piscine_kfnjkf.jpg"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- third section -->
		<section class="py-16 lg:py-24">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid items-stretch gap-y-10 lg:grid-cols-2 lg:gap-x-10">
					<div
						class="relative order-last mt-10 grid grid-cols-1 gap-6 lg:order-first lg:mt-0 lg:grid-cols-2">
						<div
							class="aspect-h-9 aspect-w-16 overflow-hidden rounded-lg lg:aspect-h-4 lg:aspect-w-3">
							<img
								class="object-cover"
								src="https://res.cloudinary.com/dp6synsa6/image/upload/v1689182540/testimonials/chantier-finish-mineral_rsf97e.jpg"
								alt=""
							/>
						</div>

						<div class="relative order-first lg:order-last">
							<div
								class="aspect-h-9 aspect-w-16 h-full overflow-hidden rounded-lg lg:aspect-h-4 lg:aspect-w-3">
								<img
									class="w-full object-cover object-center"
									src="https://res.cloudinary.com/dp6synsa6/image/upload/v1689184276/testimonials/chantier-mineral-piscine-3_uws1az.jpg"
									alt=""
								/>
							</div>

							<div
								class="absolute inset-0 grid h-full w-full place-items-center">
								<button
									type="button"
									class="show-modal inline-flex items-center gap-6.5">
									<span
										class="relative z-1 flex h-12.5 w-12.5 items-center justify-center rounded-full bg-primary text-white">
										<span
											class="absolute -z-1 inline-flex h-full w-full animate-ping rounded-full bg-primary opacity-50"
										></span>
										<Icon name="ic:baseline-play-arrow" width="38" alt="Play" />
									</span>
								</button>
								<!-- modal start -->
								<div
									class="modal close-modal fixed left-0 top-0 z-999 hidden h-screen w-full items-center justify-center bg-black bg-opacity-50">
									<div class="flex w-3/4 max-w-4xl animate-slidetop flex-col">
										<div class="flex items-center justify-end pb-3">
											<button
												class="close-modal mr-1 rounded bg-black px-3 py-1 text-white">
												<Icon name="maki:cross" width="24" />
											</button>
										</div>
										<div
											class="aspect-h-9 aspect-w-16 rounded-lg border border-black">
											<iframe
												src="https://player.vimeo.com/video/834716571?badge=0&autopause=0&player_id=0&app_id=58479"
												frameborder="0"
												allow="autoplay; fullscreen; picture-in-picture"
												allowfullscreen
												class="rounded-xl shadow-md"
												title="deroulement-chantier-piscine-coque"></iframe>
											<script src="https://player.vimeo.com/api/player.js"
											></script>
										</div>
									</div>
								</div>
								<!-- modal end -->
							</div>
						</div>
					</div>

					<div class="flex flex-col items-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Apprenez-en plus sur le déroulé du chantier de votre piscine
						</h2>
						<p class="mb-1 font-semibold text-primary">
							Plusieurs étapes sont primordiales au bon déroulement du chantier
						</p>
						<p class="leading-relaxed">
							La pose d'une piscine est un projet en plusieurs étapes
							nécessaires pour une installation réussie.
						</p>
						<p class="mt-1 leading-relaxed">
							Tout commence par la préparation du terrain, le sol doit être bien
							nivelé pour accueillir une piscine.
						</p>
						<p class="mt-1 leading-relaxed">
							Ensuite, il est important d'effectuer les travaux de plomberie et
							d'électricité pour bénéficier d'un système de pompage performant
							ainsi que l'éclairage et le chauffage.
						</p>
						<p class="mt-1 leading-relaxed">
							Une fois ces travaux de préparation effectués, il faudra
							construire la structure de la piscine puis tous les équipements de
							filtrage à la fin.
						</p>
						<p class="mt-1 leading-relaxed">
							Faites appel à notre entreprise pour plus d'informations sur le
							déroulé du chantier.
						</p>
						<p>
							<Link
								href="contact"
								text="Contactez-nous"
								classes="mt-4 group text-lg"
								icon={{
									name: "ph:caret-right-light",
									side: "right",
									classeSvg: "transition-all group-hover:translate-x-1",
								}}
							/>
						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- fourth section  -->
		<section class="pb-32 pt-16">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 md:mt-12.5">
				<div
					class="grid grid-cols-1 items-center gap-x-16 gap-y-8 lg:grid-cols-2 xl:gap-x-24">
					<div class="relative order-last md:mb-12">
						<div class="aspect-h-2 aspect-w-3 md:aspect-h-9 md:aspect-w-16">
							<img
								class="w-full rounded-lg object-cover object-top"
								src="https://res.cloudinary.com/dp6synsa6/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1689183266/testimonials/grutage_dikwtx.jpg"
								alt=""
							/>
						</div>

						<div
							class="absolute -bottom-17 left-1/2 w-full max-w-xs -translate-x-1/2 px-4 sm:max-w-sm sm:px-0 md:-bottom-20">
							<div class="overflow-hidden rounded bg-white">
								<div class="px-10 py-6">
									<div class="flex items-center">
										<p
											class="text-center font-roboto text-sm font-medium text-primary sm:text-lg">
											Nous accédons aux travaux dans des zones compliquées à
											l’aide de grues.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="place-self-start">
						<h2
							class="text-gradient text-3xl font-bold leading-tight sm:text-4xl lg:leading-tight">
							Accès aux travaux difficiles à l'aide d'un grutage précis
						</h2>
						<p class="mb-4 font-semibold text-primary">
							Une piscine même dans un espace difficile d'accès
						</p>
						<p class="mb-1 leading-relaxed">
							Vous êtes situés dans une résidence ou dans un lotissement
							difficile d'accès pour des travaux ?
						</p>
						<p class="mb-1 leading-relaxed">
							Nous faisons intervenir un professionnel pour déplacer les
							machines et matériaux lourds en toute sécurité.
						</p>
						<p class="mb-1 leading-relaxed">
							Le grutage consiste à utiliser une grue pour manipuler des
							éléments lourds dans des espaces restreints.
						</p>
						<p class="mb-1 leading-relaxed">
							Ainsi votre piscine sera installée quelle que soit votre
							localisation.
						</p>
						<p class="leading-relaxed">
							Contactez Minéral Piscine pour vos travaux de piscine en Gironde !
						</p>
						<Link
							href="/contact"
							text="Des questions sur l’accessibilité de votre lieu"
							classes="mt-2 group text-lg"
							icon={{
								name: "ph:caret-right-light",
								side: "right",
								classeSvg: "transition-all group-hover:translate-x-0.5",
							}}
						/>
					</div>
				</div>
			</div>
		</section>
	</main>
</MainLayout>
