---
---

<!-- ===== Hero Start ===== -->
<section
	class="relative overflow-hidden pb-20 pt-35 md:pt-40 lg:pb-30 xl:pt-52">
	<!-- Hero Images -->
	<div
		class="absolute top-0 -z-1 h-full w-full overflow-hidden bg-accent/40 bg-hero-pattern bg-cover bg-top bg-no-repeat bg-blend-multiply lg:hidden">
	</div>
	<div
		class="absolute right-0 top-0 hidden h-auto w-1/2 animate-slideleft lg:block">
		<img
			src="./images/hero/piscine-family.webp"
			alt="piscine d'été"
			class="-z-1 h-[90vh] rotate-1 rounded-l-[400px] object-cover"
		/>
		<div
			class="absolute top-24 h-[90vh] w-full rounded-l-[400px] border-2 border-meta-orange">
		</div>
	</div>

	<!-- Hero Content -->
	<div class="mx-auto max-w-1390 px-4 md:px-8 2xl:px-0">
		<div class="flex flex-col lg:items-start">
			<div class="animate_left slide-in md:w-1/2">
				<h1
					class="lg:text-gradient mb-6 text-3xl font-semibold text-white lg:text-4xl xl:text-title-xxl">
					Brillance Piscine, Pisciniste <br />
					<span class="text-5xl font-thin lg:text-8xl"
						>Pour Piscines Coques</span
					>
				</h1>
				<p class="text-whiter lg:text-body xl:w-[79%]">
					Trouvez la piscine coque de vos rêves parmi notre large sélection,
					dans le secteur de Libourne.
				</p>
				<p class="text-whiter lg:text-body xl:w-[79%]">
					Un été sous le soleil en profitant de nos pisines coque prêtes à
					plonger ou en Kit
				</p>
			</div>
			<div class="mt-10 flex flex-col-reverse gap-7.5 md:flex-row">
				<a
					href="/piscines"
					class="inline-flex w-fit rounded-full bg-primary px-7.5 py-3 font-medium leading-7 text-white duration-300 ease-in-out hover:shadow-1"
					>NOS MODELES DE PISCINES</a
				>

				<span class="flex flex-col">
					<a
						href="/contact"
						class="inline-block w-[200px] rounded-full border border-meta-orange px-2 text-lg font-medium text-white hover:text-primary md:w-[200px] lg:text-black">
						OBTENIR UN DEVIS
					</a>
					<span class="inline-block text-whiter lg:text-body"
						>Ou pour toute demande de renseignements
					</span>
				</span>
			</div>
		</div>
	</div>
</section>
<!-- ===== Hero End ===== -->
